@use postcss-nested;

@font-face {
  font-family: "My Chemical Romance";
  src:
    local("My Chemical Romance"),
    url("https://manzdev.github.io/twitch-tamagotchi/my-chemical-romance.woff2") format("woff2"),
    url("https://manzdev.github.io/twitch-tamagotchi/my-chemical-romance.woff") format("woff");
  font-display: swap;
}

:root {
  --body-color: darkred;
  --inner-color: silver;
  --lcd-bgcolor: #b8b3af;
  --buttons-color: gold;
  --width: 275px;
  --height: 325px;
  --title-font-size: 34px;
  --break-shape: polygon(0 60%, 9% 38%, 10% 12%, 29% 15%, 47% 9%, 70% 14%, 84% 7%, 97% 20%, 91% 35%, 100% 58%, 92% 72%, 87% 92%, 68% 90%, 50% 100%, 40% 91%, 25% 94%, 9% 85%, 11% 77%);
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 3em;
}

.tamagotchi {
  background-color: var(--body-color);
  width: var(--width);
  height: var(--height);
  border-radius: 300px / 410px 410px 300px 300px;
  box-shadow:
    0 0 20px rgba(0, 0, 0, 0.75),
    0 0 40px 15px rgba(0, 0, 0, 0.25) inset;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  
 

 .separation {
    border-bottom: 7px solid rgba(0, 0, 0, 0.65);
    width: 34%;
    height: 25px;
    position: absolute;
  }

.left.separation {
    left: 1px;
    transform: translateY(30px) rotate(6deg);
    border-radius: 50%;
  }

 .right.separation {
    right: 0;
    transform: translateY(26px) rotate(-6deg);
    border-radius: 50%;
  }

 .name {
    font-family: "My Chemical Romance", sans-serif;
    font-size: var(--title-font-size);
    font-variant: small-caps;
    letter-spacing: -2px;
    color: var(--buttons-color);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.75);
    transform: translateY(15px);

     .initial {
      display: inline-block;
      transform: skewX(339deg) translate(6px);
    }

    .m {
      display: inline-block;
      transform: skewX(342deg) translate(1px, 3px);
    }

    .h {
      display: inline-block;
      font-size: calc(var(--title-font-size) * 1.3);
    }
  }

 .tamagotchi-inner {
    background: rgba(0, 0, 0, 0.65);
    width: calc(var(--width) * 0.62);
    height: calc(var(--height) * 0.54);
    clip-path: var(--break-shape);
    transform: translate(4px, 0);
    position: relative;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;

   
   .screen {
      --border-radius: 10px;

      width: 125px;
      height: 120px;
      background: var(--lcd-bgcolor);
      position: absolute;
      border-radius: var(--border-radius);
      transform: translateY(4px);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      overflow: hidden;
      
      }

     .top-bottom {
        background: #a6a6a6;
        height: 32px;
        display: flex;
        justify-content: space-around;
        padding: 0 6px;
      }

      
  }

  .buttons-container {
    width: 40%;
    height: 32px;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;

   .button {
      width: 22px;
      height: 22px;
      border-radius: 50%;
      background: var(--buttons-color);
      box-shadow:
        0 0 4px 2px rgba(0, 0, 0, 0.75),
        -2px -2px 4px rgba(0, 0, 0, 0.5) inset;

     :active {
        background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
        box-shadow:
          0 0 4px 2px rgba(0, 0, 0, 0.75),
          2px 2px 2px rgba(0, 0, 0, 0.25) inset;
      }

      .middle {
        align-self: flex-end;
      }
    }
  }
}

.change-color {
  width: 255px;
  margin: auto;

   button {
    width: 45px;
    height: 45px;
    background: var(--color);
    border: 0;
    border-radius: 12px;
    margin: 3px;
    box-shadow: -2px -2px 2px 4px rgba(0, 0, 0, 0.25) inset;

    & span {
      display: none;
    }
  }
}

@keyframes movePet {
  0% {
    transform: translate(40px, 0) rotateY(180deg);
  }

  100% {
    transform: translate(-20px, 0) rotateY(-180deg);
  }
}

@keyframes moveShit {
  0% {
    box-shadow:
      32px 0 0 #000,
      4px 4px 0 #000,
      28px 4px 0 #000,
      0 8px 0 #000,
      32px 8px 0 #000,
      4px 12px 0 #000,
      16px 12px 0 #000,
      16px 16px 0 #000,
      20px 16px 0 #000,
      8px 20px 0 #000,
      12px 20px 0 #000,
      16px 20px 0 #000,
      24px 20px 0 #000,
      4px 24px 0 #000,
      8px 24px 0 #000,
      12px 24px 0 #000,
      16px 24px 0 #000,
      20px 24px 0 #000,
      28px 24px 0 #000,
      4px 28px 0 #000,
      8px 28px 0 #000,
      12px 28px 0 #000,
      16px 28px 0 #000,
      20px 28px 0 #000,
      24px 28px 0 #000,
      28px 28px 0 #000;
  }

  100% {
    box-shadow:
      0 0 0 #000,
      4px 4px 0 #000,
      28px 4px 0 #000,
      0 8px 0 #000,
      32px 8px 0 #000,
      16px 12px 0 #000,
      28px 12px 0 #000,
      16px 16px 0 #000,
      20px 16px 0 #000,
      8px 20px 0 #000,
      12px 20px 0 #000,
      16px 20px 0 #000,
      24px 20px 0 #000,
      4px 24px 0 #000,
      12px 24px 0 #000,
      16px 24px 0 #000,
      20px 24px 0 #000,
      24px 24px 0 #000,
      28px 24px 0 #000,
      4px 28px 0 #000,
      8px 28px 0 #000,
      12px 28px 0 #000,
      16px 28px 0 #000,
      20px 28px 0 #000,
      24px 28px 0 #000,
      28px 28px 0 #000;
  }
}

.created {
  background: 
    url(https://assets.codepen.io/154065/internal/avatars/users/default.png),
    linear-gradient(to bottom, #884ced, #ec1cce);
  background-size: 75px 75px, cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  right: 0;
  width: 250px;
  height: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 2em;
  
 
  
 
  
  .h2 {
    font-weight: 700;
    transform: translate(0, -4px);    
  }
  
  .a {
    text-decoration-color: rgba(255,255,255,0.4);
  }
  
  a:hover {
    color: #e6e82a;
  }
}