// Misc
$egg-radius: 54% / 65% 65% 47% 47%;

// Colors 
$black:  #0f0f0f;
$white: #fdfdfd;

$background: #fcf8ec;

$body-main: #fdd432;
$body-shadow: darken($body-main, 12%);

$accent-main: #e84b30;

$screen-black: #6c6c4e;
$screen-white: #e3e6c9;


*{font-family: 'Bacasime Antique', serif;
  font-family: 'Bacasime Antique', serif;
  font-family: 'Caprasimo', cursive;
  font-family: 'Plus Jakarta Sans', sans-serif;
  box-sizing: border-box;
}

html {
  background: linear-gradient(45deg, rgba(yellow, 0.7), lightcoral);
  width: 100vw;
  height: 100vh;
  font-family: 'VT323', Helvetica, sans-serif;
  color: $screen-black;
}

body {
  background-color: #f8f9fa;
  font-family: Arial, sans-serif;
  height: 100vh;
  width: 100vw;;
}


.main {
  height: 80%;
  margin: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}

.screen {
  background-color: white;
  border: 2px solid #6c757d;
  padding: 20px;
  border-radius: 10px;
  margin: 10px 0;  
  height: 70%;
  width: 90%;
  display: flex;
  flex-direction: column;
  
}

.tamagotchi {
  display: flex;
  flex-direction: column;
  border: 2px solid #6c757d;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  background-color: pink;
  align-items: center;
  width: 40%;

}

h1 {
  color: black;
  font-family: 'Bacasime Antique', serif;
  font-family: 'Caprasimo', cursive;
  font-family: 'Plus Jakarta Sans', sans-serif;
  
}

.image{
  display: flex;
  justify-content: center;
  height: 70%;
}

.controles {
  width: 80%;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  margin-bottom: 5%;
}

.button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #435B66;
  color: white;
  cursor: pointer;
}

.button:hover {
  background-color: #0056b3;
}