
@import url('https://fonts.googleapis.com/css2?family=Bacasime+Antique&family=Caprasimo&family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;1,200;1,400&display=swap');


/* Reset and general styles */
* {
  box-sizing: border-box;
  font-family: lato,sans-serif;
  font-weight: bold;
}

body {
  font-family: 'Bacasime Antique', serif, 'Caprasimo', cursive, 'Plus Jakarta Sans', sans-serif;
  background-color: #8EC5FC;
  background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
  font-family: Arial, sans-serif;
  height: 100vh;
  width: 100vw;
}


.main {
  height: 80%;
  margin: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}


.tamagotchi {
  display: flex;
  flex-direction: column;
  border: 3px solid #03384b;
  padding: 40px 40px 20px 40px;
  position: relative;
  border-radius: 50px;
  text-align: center;
  background-color: #FF9B9B;
  align-items: center;
  height: fit-content;
  width: 40%;
  flex-wrap: wrap;
}

/* Screen container */
.screen {
  background-color: white;
  border: 3px solid #03384b;
  padding: 20px 40px 20px 40px;
  position: relative;
  border-radius: 50px;
  margin: 10px 0;
  height: 70%;
  width: 90%;
  display: flex;
  flex-direction: column;
}

h1 {
  color: #03384b;
  font-family: 'Caprasimo', cursive;
}

.image {
  height: 50vh;
  object-fit: contain;
}

.info{
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  margin-bottom: 0px;
  justify-content: space-around;
  
}
 .fontText{
  color: #03384b;
  font-family: 'Caprasimo', cursive;
  font-weight: lighter;
 }

.controles {
  width: 80%;
  display: flex;
  justify-content: space-around;
  justify-content: space-between;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 5%;
  flex-wrap: wrap;
}

/* .button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #435B66;
  color: white;
  cursor: pointer;
} */
.button {
  background-color: #FFFEC4;
  font-family: lato,sans-serif;
  font-weight: bold;
  cursor: pointer;
  font-size: 1em;
  letter-spacing: 0.1em;
  text-decoration: none;
  color: #03384b;
  display: inline-block;
  padding: 20px 40px 20px 40px;
  position: relative;
  border: 3px solid #03384b;
 }

.button-1{
  border-radius: 100em;  
  }

.button:hover {
  background-color: #CBFFA9;
}

#text{
  color: #03384b;
  font-family: 'Caprasimo', cursive;

}


@media only screen and (max-width:576px){
  .controles {
    width: 80%;
    display: flex;
    justify-content: space-around;
    justify-content: space-between;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 5%;
  }
  h1 {
    color: #03384b;
    font-family: 'Caprasimo', cursive;
  }
  .button {
    font-family: lato,sans-serif;
    font-weight: bold;
    cursor: pointer;
    font-size: 1em;
    letter-spacing: 0.1em;
    text-decoration: none;
    color: #03384b;
    display: inline-block;
    padding: 20px 40px 20px 40px;
    position: relative;
    border: 3px solid #03384b;
   }
  
  .button-1{
    border-radius: 100em;  
    }
  
  .button:hover {
    background-color: #CBFFA9;
  }


}
